@using Schotejil.Clubkampioen.Data.Lenex.Xml
@inject IStringLocalizer<Strings> Localizer

<RadzenTabsItem Text="@Meet.Name">
    <table class="table mb-3">
        <thead>
            <tr>
                <th>@Localizer["Property"]</th>
                <th>@Localizer["Value"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Localizer["Name"]</td>
                <td>@Meet.Name</td>
            </tr>
            <tr>
                <td>@Localizer["City"]</td>
                <td>@Meet.City (@Meet.Nation)</td>
            </tr>
            <tr>
                <td>@Localizer["Course"]</td>
                <td>@Meet.Course?.ToXmlString()</td>
            </tr>
            <tr>
                <td>@Localizer["Organizer"]</td>
                <td>
                    @if (Meet.OrganizerUrl is not null) {
                        <a href="@Meet.OrganizerUrl">@Meet.Organizer</a>
                    }
                    else
                    {
                        @Meet.Organizer
                    }
                </td>
            </tr>
            @if (Meet.LiveTiming is not null)
            {
                <tr>
                    <td>@Localizer["LiveTiming"]</td>
                    <td><a href="@Meet.LiveTiming">@Meet.LiveTiming</a></td>
                </tr>
            }
            @if (Meet.AgeDate is not null)
            {
                <tr>
                    <td>@Localizer["AgeCalculation"]</td>
                    <td>@Meet.AgeDate.Value.ToShortDateString() (@Meet.AgeDate.Type.ToXmlString())</td>
                </tr>
            }
        </tbody>
    </table>

    <RadzenTabs @bind-SelectedIndex=@selectedIndex>
        <Tabs>
            @foreach (SessionElement session in Meet.Sessions)
            {
                <LenexViewSession Session="session" Meet="Meet"></LenexViewSession>
            }
        </Tabs>
    </RadzenTabs>
</RadzenTabsItem>

@code {
    private int selectedIndex = 0;

    [Parameter]
    public MeetElement Meet { get; set; } = new();
}
