@page "/meets/{Id:int}"

@using ZwemTools.Data.Sql

@inject DatabaseContext Context

@if (Meet is not null)
{
    <h1>@Meet.Name</h1>

    <RadzenButton Text="@Strings.Delete" Click="@OnDelete"/>

    <table class="table mb-3">
        <thead>
        <tr>
            <th>@Strings.Property</th>
            <th>@Strings.Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Strings.Athletes</td>
            <td>@Meet.Clubs.SelectMany(x => x.Athletes).Count()</td>
        </tr>
        <tr>
            <td>@Strings.Results</td>
            <td>@Meet.Clubs.SelectMany(x => x.Athletes).SelectMany(x => x.Results).Count()</td>
        </tr>
        </tbody>
    </table>
}
else
{
    <p>@Strings.MeetNotFound</p>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Meet? Meet { get; set; }

    protected override void OnInitialized()
    {
        Meet = Context.Meets.SingleOrDefault(x => x.Id == Id);
    }

    void OnDelete()
    {
        if (Meet is not null)
        {
            Context.Meets.Remove(Meet);
            Context.SaveChanges();
            Meet = null;
        }
    }

}
