@using ZwemTools.Data.Lenex.Xml

@inject IStringLocalizer<Strings> Localizer

<RadzenTabsItem Text="@Title">
    <table class="table mb-3">
        <thead>
        <tr>
            <th>@Localizer["Property"]</th>
            <th>@Localizer["Value"]</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Localizer["Session"]</td>
            <td>@Session.Number</td>
        </tr>
        <tr>
            <td>@Localizer["Name"]</td>
            <td>@Session.Name</td>
        </tr>
        <tr>
            <td>@Localizer["Time"]</td>
            <td>@Session.StartTime?.ToShortTimeString() - @Session.EndTime?.ToShortTimeString()</td>
        </tr>
        <tr>
            <td>@Localizer["OfficialsMeeting"]</td>
            <td>@Session.OfficialMeeting?.ToShortTimeString()</td>
        </tr>
        <tr>
            <td>@Localizer["Warmup"]</td>
            <td>@Session.WarmupStart?.ToShortTimeString() - @Session.WarmupEnd?.ToShortTimeString()</td>
        </tr>
        </tbody>
    </table>

    <RadzenDataGrid Data="Session.Events" TItem="EventElement" RowRender="@RowRender" ExpandMode="DataGridExpandMode.Single">
        <Template Context="e">
            <LenexViewAgeGroup Event="e" Meet="Meet"/>
        </Template>

        <Columns>
            <RadzenDataGridColumn TItem="EventElement" Property="Number" Title="#"/>
            <RadzenDataGridColumn TItem="EventElement" Title="@Localizer["Stroke"]">
                <Template Context="data">
                    @data.SwimStyle.Distance @data.SwimStyle.Stroke
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EventElement" Property="Gender" Title="@Localizer["Gender"]"/>

        </Columns>
    </RadzenDataGrid>
</RadzenTabsItem>

@code {

    [Parameter]
    public SessionElement Session { get; set; } = new();

    [Parameter]
    public MeetElement Meet { get; set; } = new();

    private string Title => $"{Session.Number} - {Session.Name}";

    void RowRender(RowRenderEventArgs<EventElement> args)
    {
        args.Expandable = args.Data.AgeGroups is {Count: > 0};
    }

}
