@page "/meets/{Id:int}"
@using Schotejil.Clubkampioen.Data.Sql
@inject DatabaseContext Context

@if (this.Meet is not null)
{
    <h1>@this.Meet.Name</h1>

    <RadzenButton Text="@Strings.Delete" Click="@OnDelete" />

    <table class="table mb-3">
        <thead>
            <tr>
                <th>@Strings.Property</th>
                <th>@Strings.Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Strings.Athletes</td>
                <td>@this.Meet.Clubs.SelectMany(x => x.Athletes).Count()</td>
            </tr>
            <tr>
                <td>@Strings.Results</td>
                <td>@this.Meet.Clubs.SelectMany(x => x.Athletes).SelectMany(x => x.Results).Count()</td>
            </tr>
        </tbody>
    </table>

}
else
{
    <p>@Strings.MeetNotFound</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Meet? Meet { get; set; }

    protected override void OnInitialized()
    {
        this.Meet = this.Context.Meets.SingleOrDefault(x => x.Id == this.Id);
    }

    void OnDelete()
    {
        if (this.Meet is not null)
        {
            this.Context.Meets.Remove(this.Meet);
            this.Context.SaveChanges();
            this.Meet = null;
        }
    }
}
